.negocioabajo h3 {
  background-image: linear-gradient(30deg, #d1ae7d, rgba(233, 140, 83, 0.626));
  padding: 2rem;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px; }

.negocioabajo p {
  background-image: linear-gradient(30deg, #857052, rgba(189, 142, 112, 0.626));
  padding: 2rem;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px; }

.servicio {
  background-image: linear-gradient(30deg, #f4f1ec, #595a59);
  padding: 1rem;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  flex-wrap: wrap;
  list-style: none; }
  .servicio .centro {
    padding: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-decoration: none; }

.centroabajo {
  background-image: linear-gradient(30deg, #93a8c0, #609bd5);
  padding: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.conociendo {
  padding: 1rem; }
  .conociendo h3 {
    padding: 2rem;
    color: chocolate;
    text-align: center;
    background-color: #F6CA83;
    padding: 10px;
    border: 5px;
    border-style: ridge;
    border-color: #88e676; }
  .conociendo .centroinferior {
    background-color: #F6CA83;
    padding: 2rem;
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    border: 5px;
    border-style: ridge;
    border-color: #88e676; }

.maintop {
  display: flex;
  background-image: linear-gradient(30deg, #6adceb, #5887d7);
  justify-content: space-around; }
  .maintop .beneficios {
    padding: 2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column; }

.mainmid {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(30deg, #6adceb, #5887d7); }
  .mainmid .ahorro {
    display: flex;
    flex-direction: column;
    color: greenyellow;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center; }
  .mainmid .disponibilidad {
    display: flex;
    flex-direction: column;
    color: greenyellow;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center; }

.galeria {
  padding: 10px;
  background-color: darkseagreen; }

.avance {
  padding: 10px;
  background-color: beige; }

.seccion1 {
  padding: 2rem;
  background-image: linear-gradient(30deg, #d5a44e, #b2ba86);
  display: flex;
  flex-direction: column;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  align-items: center; }

.section2 {
  padding: 2rem;
  background-image: linear-gradient(30deg, #d5a44e, #b2ba86);
  display: flex;
  flex-direction: column;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  align-items: center; }

.negocio .negociomain {
  background-color: #7a6957;
  padding: 2rem;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column; }

.hogarabajo .hogarmain {
  background-color: #f1b9cb;
  padding: 2rem;
  color: #da89cf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column; }

.hogarabajo h3 {
  background-image: linear-gradient(30deg, #dfa5d6, #5887d7);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: blueviolet; }

.hogarabajo p {
  background-image: linear-gradient(30deg, #edc4e7, #7399dc);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: blueviolet;
  font-size: 20px; }

.attecliente {
  background-color: whitesmoke;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  align-items: center; }

.formulario {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  background-image: linear-gradient(30deg, #ecc9c9, #eebe93); }

.trabaja {
  padding: 2rem;
  background-color: #b1b1b1;
  color: black; }

* {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  flex-direction: column; }
  .header .barrasup {
    background-color: #F8FFE5;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    color: grey;
    padding: 4px;
    text-align: right;
    flex-wrap: wrap;
    min-width: 250px; }

.footer {
  background-color: #f0b86e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  .footer ol {
    display: flex;
    list-style: none; }
    .footer ol li a {
      color: white;
      padding: 1rem; }
  .footer p {
    color: white; }
